# Ignore everything in the data directory
/src/data/**/*
# But do not ignore the data directory itself, or its subdirectories, or .gitkeep files
!/src/data/
!/src/data/**/
!/src/data/**/.gitkeep

# Ignore everything in the models directory
/src/models/**/*
# But do not ignore the data directory itself, or its subdirectories, or .gitkeep files
!/src/models/
!/src/models/**/
!/src/models/**/.gitkeep
src/utils/__pycache__/ClassifierModel.cpython-310.pyc
src/utils/__pycache__/REPDataset.cpython-310.pyc
notebooks/examples/data/cifar-100-python/file.txt~
notebooks/examples/data/cifar-100-python/meta
notebooks/examples/data/cifar-100-python/test
notebooks/examples/data/cifar-100-python.tar.gz
notebooks/examples/data/cifar-100-python/train
